<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Elixir Lightweight Process Wars - Let's It Crash!! - </title>
  </head>

  <body>
    <div class="container">
      <div class="title">Elixir Lightweight Process Wars - Let's It Crash!! - </div>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="<%= static_path(@conn, "/vendor/svg.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/vendor/jquery-starfield.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
