.title {
  text-align: center;
  font-size: 40px;
  font-family: "Museo";
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.898039);
  text-shadow: rgba(255, 255, 255, 0.798039) 0px 0px 15px, rgba(255, 255, 255, 0.68039) 0px 0px 10px;
}


#main {
  border: solid 2px white;
  width: 1000px;
  height: 600px;
  position: relative;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.atom-memory-bar {
  height: 30px;
  width: 0;
  opacity: 0.7;
  background-color: green;
}

@mixin explocation {
  width: 32px;
  height: 32px;
  background-image: url('/vendor/images/mfstg/explosion.png');
  background-size: cover;
  background-position: top left;
}

.enemy {
  background-image: url('/vendor/images/mfstg/enemy.png');
  position: absolute;
  $width: 36px;
  $height: 32px;
  width: $width;
  height: $height;
  &.explosion {
    @include explocation;
  }
}

.enemy-child {
  background-image: url('/vendor/images/mfstg/enemy_child.png');
  position: absolute;
  $width: 32px;
  $height: 32px;
  width: $width;
  height: $height;
  &.explosion {
    @include explocation;
  }
}

.player {
  background-image: url('/vendor/images/mfstg/player.png');
  position: absolute;
  $width: 36px;
  $height: 32px;
  width: $width;
  height: $height;
  &.left {
    background-position: 0 (-$height * 4) ;
  }
  &.right {
    background-position: 0 (-$height * 2) ;
  }
  &.explosion {
    @include explocation;
  }
}

body {
  color: white;
  background-color: black;
}

#rocketwagon-canvas {
  width: 500;
  height: 500;
}

.container {
  position: relative;
  /*max-width: 1400px;*/
  background-color: transparent;
}

.buttons {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: red;
  z-index: 1000;
}

.button {
  background-color: transparent;
  border: solid 2px rgba(255, 0, 0, 0.5);
  padding: 6px;
  &.hidden {
    display: none;
  }
}

.image-copyright {
  text-align: center;
  color: #aaa;
  a {
    color: #770;
  }
}
/* d3 */

.link {
  stroke: #aaa;
}

.node text {
  stroke:#333;
  cursos:pointer;
}

.node circle {
  stroke:#fff;
  stroke-width:3px;
  fill:#555;
}

  