<div class="page">
<%#   <div id="messages"></div>
  <input id="chat-input" type="text"></input>
 %>
  <div id="main">
    <canvas></canvas>
    <div id="svg-main"></div>
    <div class="buttons">
      <div class="create-simple-one-for-one-enemy button">Simple-One-For-One Enemy</div>
    </div>
  </div>
</div>
